<html>
  <head>
    <meta charset="utf-8">
    <title>Robot control</title>
    <link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.css">
    <script src="/static/jquery-1.11.3.min.js"></script>
    <script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">

function writeStatus(status) {
    $("#response").html(status);
}

function robotStart(complete) {
    $.getJSON( "/start" , complete);
}

function robotShutdown() {
    $.get( "/shutdown" , writeStatus);
}

function robotCmd(complete, cmd, arg="0") {
    $.getJSON( "/command/" + cmd  + "/" + arg , complete);
}


function makeCmdButton(table, caption, onClick) {
    btn = $("<input/>").attr("type", "button").attr("value", caption).click(onClick)
    $("<tr/>").append($("<td/>").append(btn)).appendTo(table)
}

function makeRobotCmdButton(table, caption, cmd) {
    makeCmdButton(table, caption, function(){
        robotCmd(writeStatus, cmd)
    })
}

function makeRobotCmdValueButton(table, caption, cmd, initValue) {
    var vi = $("<input/>").attr("type", "textfield").attr("value", initValue)
    btn = $("<input/>").attr("type", "button").attr("value", caption).click(function(){
        robotCmd(writeStatus, cmd, vi.val())
    })
    $("<tr/>").append($("<td/>").append(vi).append(btn)).appendTo(table)
}

function makeRobotCmdValueButton2(table, caption, cmd, initValue1, initValue2) {
    var vi1 = $("<input/>").attr("type", "textfield").attr("value", initValue1)
    var vi2 = $("<input/>").attr("type", "textfield").attr("value", initValue2)
    btn = $("<input/>").attr("type", "button").attr("value", caption).click(function(){
        robotCmd(writeStatus, cmd, vi1.val() + "," + vi2.val())
    })
    $("<tr/>").append($("<td/>").append(vi1).append(vi2).append(btn)).appendTo(table)
}


$(document).ready(function() {

    let commands = $("#commands")

    makeCmdButton(commands, "SHUTDOWN", robotShutdown)
    makeRobotCmdButton(commands, "NEUTRAL", "neutral")
    makeRobotCmdButton(commands, "DOWN", "down")
    makeRobotCmdValueButton(commands, "WALK", "walk", "400")
    makeRobotCmdValueButton2(commands, "DIR", "dir", "400", "0")
    makeRobotCmdValueButton(commands, "TURN", "turn", "45")
    makeRobotCmdValueButton(commands, "SPEED", "speed", "1")

    robotStart(writeStatus)
 })

    </script>
  </head>
  <body>
    <table id="commands"></table>
    <span id="response"></span>
  </body>
<html>